Testing
CMakeFiles
*.cmake
CMakeCache.txt
Hypodermic.Tests/Hypodermic.Tests
Hypodermic.Tests/*_automoc.cpp
moc_*.cpp
Makefile
*.pc

.#*.*
*.user
*.ipch
*.opensdf
*.sdf
*.suo
*.vcxproj.user
bin/**
build/**
lib/**
ipch/**
obj/**
*ReSharper*
*.VC.*
